.chat-container {
    display: flex;
    background-color: #f0f0f0;
    max-width: 800px;
    max-height: 1200px;
    height: 800px;
  }

  .lista-amigos{
    width: 40%;
    height: 95%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow-x: auto;

  }

  .lista-amigos ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0; /* Quita el padding por defecto */
  }
  
  .lista-amigos li {
    margin-bottom: 10px; /* Espaciado entre los amigos */
  }
  .lista-amigos button {
    width: 80%; /* Hace que el botón ocupe todo el ancho */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quita el borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
   align-items: center;
   font-size: 13px;
   margin-right: 10px;
  }
  .lista-amigos button:hover {
    background-color: #a1b300; /* Cambia el color al pasar el ratón */
 
  }





  .chat{
    margin: 10px;
    width: 50%;
    height: 100%;
  }
  
  .contenedor-chat-usuario {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
  }


  .lista-usuarios{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: scroll; 
   
  }
  .contenedorSolicitud{
    flex-direction: column;
  }
  
  .btn{
    width: 150px;
    height: 30px;
  }

 
  .solicitudes-pendientes {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 200px;
  }
  
  .lista-usuarios h3,
  .lista-amigos h3,
  .solicitudes-pendientes h3 {
    margin: 0;
  }
  
  .contenedorSolicitud {
    list-style: none;
    padding: 0;
  }
  
  .contenedorSolicitud li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .contenedorSolicitud button {
    margin-left: 10px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .contenedorSolicitud button:hover {
    background-color: #005bb5;
  }
  
  .contener-chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #e5ddd5;
    padding: 10px;
    border-radius: 8px;
    overflow-y: auto;
  }
  
  .mensajes {
    overflow-y: auto;
    max-height: 100%;
  }
  
  .mensaje {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    position: relative;
  }
  
  .mensaje-propio {
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  
  .mensaje-receptor {
    background-color: white;
    align-self: flex-start;
    align-items: flex-start;
  }
  
  .entrada-mensaje {
    margin-top: 10px;
    flex-direction: column;
  }
  
  .entrada-mensaje input {
    flex: 1;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 100%;
  }
  
  .entrada-mensaje button {
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  .entrada-mensaje button:hover {
    background-color: #005bb5;
  }
  .entrada-mensaje {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .entrada-contenedor {
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
  }
  .input-mensaje {
    padding: 10px;
    margin-bottom: 10px; /* Espacio entre el input y el botón */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .boton-enviar {
    padding: 10px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  .boton-enviar:hover {
    background-color: #005bb5;
  }