/* Estilos generales del contenedor de perfil */

.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Contenedor de la foto y role del usuario */
.profile-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
}

 h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* Iniciales de perfil */
.profile-initials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #007bff;
  /* Color azul */
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}

/* Estilo para la imagen de perfil */
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* Contenedor del formulario */
.contendor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
/* Estilos para las secciones de administrador y miembro */
.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 85%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  /* Borde gris claro */
  border-radius: 8px;
  background-color: #f9f9f9;
  /* Color de fondo claro */
}

/* Estilo del formulario */
.form {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  align-items: center;
}

/* Estilo de las entradas de formulario */
.entrada {
   padding: 3px;
   margin: 0 10px;
   width: 95%;
   border: none;
   background-color: transparent;
   border-bottom: 1px solid rgb(164, 164, 164);
   color: black;
}
.entrada:focus{
  outline: none;
}

.parroquia-section{
 margin: 30px auto 0;
}

/* Estilo para los botones */
.buttons{
  display: flex;
  justify-content: center;
  gap: 30px ;
  margin: 20px 0;
 
}

.button{
  font-weight: bolder;
}

.buttons .btn-submit{
  background-color: white;
  border: 1px solid rgb(12, 225, 12);
  color: rgb(12, 225, 12);
}

.buttons .btn-view-sections{
  background-color: white;
  border: 1px solid orange;
  color: orange;
}
.btn-submit:hover{
  background-color:  rgb(12, 225, 12);
  border: 1px solid white;
  color: white;
}

.btn-view-sections:hover{
  background-color: orange;
  border: 1px solid white;
  color: white;
}
