/* Contenedor principal para centrar todo */
.profile-container {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrará el contenido horizontalmente */
    justify-content: center; /* Centrará el contenido verticalmente */
    height: 100vh; /* Hacer que el contenedor ocupe toda la pantalla */
    }
  
  /* Estilos para el formulario */
  .contendor{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los inputs */
  .entrada {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Estilos para el botón */
  .bton {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  
  /* Estilos para la imagen de perfil */
  .profile-imageI {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px; /* Añadir espacio entre la imagen y el formulario */
    align-items: center;
   
  }
  
  /* Estilos para las iniciales */
  .profile-initials {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px; /* Añadir espacio entre las iniciales y el formulario */
    background-color: #007BFF;
  }
  