.titulo-registro{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-contenedor {
    max-width: 600px; /* Reduce el ancho máximo */
    margin: 0 auto;
    padding: 20px; /* Agrega un poco de padding */
}

@media (max-width: 768px) {
    .login-contenedor {
        width: 90%; /* Ocupa el 90% del ancho de la pantalla en dispositivos más pequeños */
    }
    
    .formulario-registro {
        padding: 10px; /* Reduce el padding del formulario */
        width: 100%;
    }

    .formulario-login input,
    .formulario-login select {
        font-size: 0.9rem; /* Reduce el tamaño de fuente para entradas */
        padding: 8px; /* Ajusta el padding de las entradas */
    }

    .btn {
        width: 100%; /* Botón ocupa el 100% del ancho */
    }
}
.formulario-login p, label {
    font-size: 0.9rem; /* Más pequeño */
}
.registro-contenedor{
    width: 100%;
    max-height: 80%;
}