.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Arial, sans-serif';
    padding: 0 1rem; /* Añadir un poco de padding lateral */
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    transition: box-shadow 0.3s; /* Añadir transición suave al hover */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra al pasar el ratón */
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; /* Aumentar el margen inferior para más espacio */
    color: #333;
}

input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px; /* Redondear los bordes del input */
    font-size: 1rem;
    width: 100%; /* Asegurar que el input use el 100% del ancho disponible */
    box-sizing: border-box; /* Incluir padding en el ancho total */
    transition: border-color 0.3s; /* Transición para cambio de color de borde */
}

input:focus {
    border-color: #007bff; /* Cambiar el color del borde al enfocarse */
    outline: none; /* Quitar el contorno por defecto */
}

button {
    padding: 0.75rem;
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Quitar el borde */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 1rem; /* Ajustar tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    width: 100%; /* Hacer que el botón use todo el ancho */
    transition: background-color 0.3s; /* Transición suave al cambiar el color de fondo */
}

button:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

p {
    text-align: center;
    margin: 0.5rem 0; /* Margen para el párrafo */
}

.error {
    color: red; /* Clase para mensajes de error */
}

.success {
    color: green; /* Clase para mensajes de éxito */
}
