/* css/Sidebar.css */
.admin-dashboard {
  height: 100vh;
  width: 100%;
  color: #fff;
  background: rgb(5, 79, 58);
  background: linear-gradient(90deg,
      rgba(5, 79, 58, 1) 0%,
      rgba(253, 187, 45, 1) 100%);
  justify-content: center;
  align-items: center;
}

.sidebar {
  background: rgb(5, 79, 58);
  position: fixed;
  top: 19px;
  left: 20px;
  bottom: 0;
  z-index: 1000;
}

.menu-icon {
  display: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar.collapsed .menu-icon {
  display: block;
}

.sidebar.expanded .menu-icon {
  display: none;
}

.tituloSider {
  color: white;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 30px;
}


.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  display: block;

}

.sidebar a:hover {
  background-color: var(--e-global-color-text);
}

.content {
  display: flex;
  flex-grow: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-container {
  overflow: hidden;
  z-index: 1;
}

.options:hover {
  background: rgb(6, 107, 78);
  
}


table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
  background: rgb(5, 79, 58);
  /* Cambia a un color que prefieras */
  color: white;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f1f1;
  /* Color al pasar el mouse */
}

button {
  padding: 8px 12px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #f59e0b;
  /* Color de fondo de los botones */
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d97706;
  /* Color al pasar el mouse sobre el botón */
}

button:focus {
  outline: none;
  /* Quitar el contorno de enfoque */
}

.sidebar {
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 30px;
}

.sidebar.expanded {
  width: 250px;

}

.sidebar a {
  white-space: nowrap;
  overflow: hidden;
}